{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | Queryset Checker</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/agate.min.css">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
  </head>
  <body>
  {% with user as site_user %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Queryset Checker</a>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if site_user.is_authenticated %}
              <li><a id="celery" href="#">Celery Management</a></li>
              <li><a  id="rabbit-mq" href="#">RabbitMQ Admin</a></li>
            {% endif %}
          </ul>
         {% include "users/login_menu.html" %}
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 query-top">
          <div id="checker-messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-md-12">
           <p>Maxim Chernyatevich &copy; 2016</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endwith %}
  </body>
</html>
